<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lol Project - By Diegowh</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1>TEST TEMPLATE</h1>
    </header>
    <main>
        <form action="{{ url_for('home')}}" method="POST">
            <label for="summoner_name">Summoner name:</label>
            <input type="text" placeholder="Summoner name" id="summoner_name" name="summoner_name">
            <button type="submit">Send</button>
        </form>
    </main>
    <section>
        <h2>Summoner Statistics</h2>
        <!-- meto un comparador por la cara para que solo aparezca la plantilla si he hecho una busqueda ya -->
        {% if summoner_name %}
        <div>
            <label>Summoner name: </label><span>{{ summoner_name }}</span>
        </div>
        <div>
            <label>Ranked Solo: </label><span>{{ soloq_rank }}</span>
        </div>
        <div>
            <label>Soloq_lp: </label><span>{{ soloq_lp }}</span>
        </div>
        <div>
            <label>Soloq_wins: </label><span>{{ soloq_wins }}</span>
        </div>
        <div>
            <label>Soloq_losses: </label><span>{{ soloq_losses }}</span>
        </div>
        <div>
            <label>Soloq_wr: </label><span>{{ soloq_wr }}</span>%
        </div>
        <div>
            <label>Ranked Flex: </label><span>{{ flex_rank }}</span>
        </div>
        <div>
            <label>Flex_lp: </label><span>{{ flex_lp }}</span>
        </div>
        <div>
            <label>Flex_wins: </label><span>{{ flex_wins }}</span>
        </div>
        <div>
            <label>Flex_losses: </label><span>{{ flex_losses }}</span>
        </div>
        <div>
            <label>Flex_wr: </label><span>{{ flex_wr }}</span>%
        </div>
    </section>
    <section>
        <h2>Recent Matches</h2>
        <section>
            <div>
                <label>Champion played: </label><span>{{ champion_played_0 }}</span>
            </div>
        </section>
        <section>
            <div>
                <label>Champion played: </label><span>{{ champion_played_1 }}</span>
            </div>
        </section>
        <section>
            <div>
                <label>Champion played: </label><span>{{ champion_played_2 }}</span>
            </div>
        </section>
        <section>
            <div>
                <label>Champion played: </label><span>{{ champion_played_3 }}</span>
            </div>
        </section>
        <section>
            <div>
                <label>Champion played: </label><span>{{ champion_played_4 }}</span>
            </div>
        </section>
        {% endif %}
        
    </section>
    <section>
        <h2>Champion Stats</h2>
        
    </section>
</body>
</html>
